.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    overflow-y: auto;

    .modal {
        background-color: $white;
        height: fit-content;
        border-radius: 5px;
        padding: 30px 25px 50px;
        position: relative;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 6px;
        background: 0 0;
        height: 24px;
        width: 24px;
        border: 0;
        cursor: pointer;
    }
}