@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.button-wrapper {
  width: 100%;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 600;
  color: #fffffa;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.button-wrapper.create {
  background-color: #9bc53d;
}
.button-wrapper.create:hover:not([disabled]) {
  background-color: #fffffa;
  color: #9bc53d;
  border: 1px solid #9bc53d;
}
.button-wrapper.submit {
  background-color: #5688c7;
}
.button-wrapper.submit:hover:not([disabled]) {
  background-color: #fffffa;
  color: #5688c7;
  border: 1px solid #5688c7;
}
.button-wrapper.remove {
  background-color: #c13336;
}
.button-wrapper.remove:hover:not([disabled]) {
  background-color: #fffffa;
  color: #c13336;
  border: 1px solid #c13336;
}
.button-wrapper:disabled {
  background-color: #b5b8a3;
  cursor: not-allowed;
}

.input-field-wrapper {
  width: 100%;
  position: relative;
  margin-top: 30px;
}
.input-field-wrapper label {
  position: absolute;
  left: 8px;
  top: 6px;
  z-index: 10;
  background-color: #fff;
  color: #b5b8a3;
  font-size: 18px;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}
.input-field-wrapper input, .input-field-wrapper textarea {
  width: 100%;
  position: relative;
  padding: 8px 0 4px 8px;
  outline: 0;
  border: 1px solid #b5b8a3;
  border-radius: 5px;
  font-size: 18px;
  box-sizing: border-box;
}
.input-field-wrapper input:focus, .input-field-wrapper textarea:focus {
  border-color: #5688c7;
}
.input-field-wrapper.focused label {
  transform: translateY(-150%);
  font-size: 0.85em;
  color: #5688c7;
}
.input-field-wrapper textarea {
  resize: none;
  font-family: "Roboto", serif;
  font-size: 16px;
}

.navbar {
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #fffffa;
  border-bottom: 2px solid #5688c7;
}

.navbar-icon {
  margin-left: 1.5rem;
  font-size: 25px;
  color: #5688c7;
  cursor: pointer;
}
.navbar-icon:hover {
  color: #0c0c0c;
}

.navbar-menu {
  width: 270px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: #fffffa;
  transition: 850ms;
  border-right: 2px solid #5688c7;
}
.navbar-menu .navbar-menu-items {
  width: 100%;
}
.navbar-menu .navbar-menu-items .navbar-toggle {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #fffffa;
  border-bottom: 2px solid #5688c7;
}
.navbar-menu .navbar-menu-items .navbar-item {
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #5688c7;
  font-size: 18px;
  padding: 0 28px;
  list-style: none;
  white-space: nowrap;
  cursor: pointer;
}
.navbar-menu .navbar-menu-items .navbar-item span {
  margin-left: 16px;
}
.navbar-menu .navbar-menu-items .navbar-item:hover {
  color: #0c0c0c;
}
.navbar-menu.open {
  left: 0;
  transition: 350ms;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  overflow-y: auto;
}
.modal-wrapper .modal {
  background-color: #fffffa;
  height: fit-content;
  border-radius: 5px;
  padding: 30px 25px 50px;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.modal-wrapper .close {
  position: absolute;
  top: 10px;
  right: 6px;
  background: 0 0;
  height: 24px;
  width: 24px;
  border: 0;
  cursor: pointer;
}

.table-wrapper {
  height: max-content;
  border: 4px solid #0c0c0c;
  font-size: 16px;
  margin-top: 20px;
}
.table-wrapper table {
  border-collapse: collapse;
}
.table-wrapper table thead {
  background-color: #5688c7;
  color: #fffffa;
}
.table-wrapper table td, .table-wrapper table th {
  text-align: left;
  padding: 8px;
  height: 10px;
}
.table-wrapper table th {
  border-right: 2px solid #0c0c0c;
}
.table-wrapper table th:last-of-type {
  border-right: none;
}
.table-wrapper table td {
  border: 2px solid #0c0c0c;
}

.dropdown-input {
  width: 100%;
  margin-top: 30px;
}

.dropdown-input-single {
  width: 300px;
  margin-top: 30px;
}

.login-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-wrapper .login-form {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #5688c7;
  border-radius: 5px;
  padding: 40px 30px 60px;
}
.login-wrapper .login-form h1 {
  color: #5688c7;
}
@media only screen and (max-width: 400px) {
  .login-wrapper .login-form {
    width: 300px;
  }
}

.dashboard-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 30px;
}
.dashboard-wrapper h1 {
  color: #5688c7;
  margin-top: 30px;
  margin-left: 30px;
}
.dashboard-wrapper .dashboard-table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  padding-left: 30px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.app-wrapper {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 850ms;
}
.app-wrapper.open {
  width: calc(100vw - 270px);
  margin-left: 270px;
  transition: 350ms;
}

/*# sourceMappingURL=index.css.map */
