@import "./button/index";
@import "./inputField/index";
@import "./navbar/index";
@import "./modal/index";

.table-wrapper {
    height: max-content;
    border: 4px solid $black;
    font-size: 16px;
    margin-top: 20px;

    table {
        border-collapse: collapse;

        thead {
            background-color: $blue;
            color: $white;
        }

        td, th {
            text-align: left;
            padding: 8px;
            height: 10px;
        }

        th {
            border-right: 2px solid $black;

            &:last-of-type {
                border-right: none;
            }
        }

        td {
            border: 2px solid $black;
        }
    }
}

.dropdown-input {
    width: 300px;
    margin-top: 30px;
}