.input-field-wrapper {
    width: 100%;
    position: relative;
    margin-top: 30px;

    label {
        position: absolute;
        left: 8px;
        top: 6px;
        z-index: 10;
        background-color: #fff;
        color: $gray;
        font-size: 18px;
        transition: transform 150ms ease-out, font-size 150ms ease-out;

    }

    input, textarea {
        width: 100%;
        position: relative;
        padding: 8px 0 4px 8px;
        outline: 0;
        border: 1px solid $gray;
        border-radius: 5px;
        font-size: 18px;
        box-sizing: border-box;

        &:focus {
            border-color: $blue;
        }
    }

    &.focused {
        label {
            transform: translateY(-150%);
            font-size: .85em;
            color: $blue;
        }
    }

    textarea {
        resize: none;
        font-family: "Roboto", serif;
        font-size: 16px;
    }
}